# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/psd/
/modelprojects/
/java_pid39072.hprof
/modelrigging_dd_default.bbmodel
sounds\
/resourceFiles/
/src/main/resources/assets/projectazure/sounds/
